<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<%= link_to 'create', new_review_path%>




<br>
<br>
<h2>Reviews</h2>
<br>

<%= render 'reviews/form', profile: @profile %>

<br>
<%= @profile.user_id %>
<h1> previous reviews: </h1>
<hr>
<% if current_user.id == 15 %>
<% @reviews.each do |review| %>
    <%= @profile.user_id %>

    <%= review.user_id %>

    <%= review.profile_id %>
    <br>

    <%= review.text %><br/>
<% end %>
<% end %>
