<p id="notice"><%= notice %></p>


<% if can? :update, @profile %>
  <%= link_to "Edit", edit_profile_path(@profile) %>
<% end %>

<<<<<<< HEAD
=======
<!-- <%= link_to 'create', new_review_path%> -->
>>>>>>> 8a8dd4a53016501c2439af13d7181eeef0f324ff
<h1><%= User.find(@profile.user_id).firstName %> <%= User.find(@profile.user_id).lastName %></h1>


<% if current_user.id != @profile.user_id %>
<%= form_with(model: [@profile, @profile.accessers.build]) do |form| %>
  <%= form.label :allow_access %>
  <%= form.check_box :access_granted  %>
  <%= form.submit "enter", class: "btn btn-primary" %>
<% end %>
<% end %>

<% allowed = false %>
<% @accesser = Accesser.all  %>
<% @accesser.each do |viewer| %>


<% if viewer.viewing_id == current_user.id %>
<% if viewer.viewable_profile == @profile.user_id %>
  <%if viewer.access_granted %>
    <% allowed = true %>
  <%end%>
  <% end %>
  <% end %>
<% end %>

profile
<%= @profile.id %>
<%= User.find(@profile.user_id).firstName %> <%= User.find(@profile.user_id).lastName %>
me
<%= current_user.id %>
<%= current_user.firstName %>
<%= current_user.lastName %>

<% if current_user.id == @profile.user_id %>
<% allowed = true %>
<% end %>

<% reviewed = false %>
<% if allowed%>
<% @reviews.order('moveOut asc')
<% @reviews.each do |review| %>
    <h4> Review of <%= User.find(@profile.user_id).firstName %> <%= User.find(@profile.user_id).lastName %> by <%= User.find(review.user_id).firstName %> <%= User.find(review.user_id).lastName %> </h4>
    Reviewed on: <%= review.date %> <br>

    Proper notice given:
    <%= review.notice %> <br>
    Is tenant liable for rent or any unpaid amount:
    <%= review.rentLeft %> <br>
    Amount of unpaid rent:
    <%= review.rentLeftAmount %> <br>
    Any late payments or 3 day notices:
    <%= review.late %> <br>
    Amount of 3 day notices:
    <%= review.lateThreeDayNum %> <br>
    Amount of late payments:
    <%= review.latePaymentNum %> <br>
    Any NSF (non-sufficient funds) checks:
    <%= review.nSF %> <br>
    Amount of NSF checks:
    <%= review.nsfNum %> <br>
    Any documented damages:
    <%= review.damages %> <br>
    Damage description:
    <%= review.damagesDescription %> <br>
    Any documented complaints:
    <%= review.complaintsFiled %> <br>
    Complaint description:
    <%= review.complaintDescription %> <br>
    Any unauthorized tenants or pets:
    <%= review.undocumentedHousemates %> <br>
    Did tenant sahre with a co-tenant?
    <%= review.coTenants %> <br>
    Were they on a written rental agreement?
    <%= review.rentalStatus %> <br>
    Have they ever been asked to vacate?
    <%= review.evicted %> <br>
    Would you re-rent to them?
    <%= review.rentAgain %> <br>
    Was deposit refunded?
    <%= review.depositRefund %> <br>
    Do they have a pet?
    <%= review.pets %> <br>
    Pet type(s):
    <%= review.petType %> <br>
    What was the rent amount:
    <%= review.rentAmount %> <br>
    Were they on a lease:
    <%= review.lease %> <br>
    Additional notes on tenant:
    <%= review.tenantNotes %> <br>
    Move-in date:
    <%= review.moveIn %>
    <br>
    Move-out date:
    <%= review.moveOut %>
    <br>

    <br>

<% end %>

<<<<<<< HEAD
<% end %>

<% if current_user.id != @profile.user_id  %>
=======
<% if current_user.id == @profile.user_id  %>

<%else %>
>>>>>>> 8a8dd4a53016501c2439af13d7181eeef0f324ff
<%= render 'reviews/form', profile: @profile %>
<% end %>

<% if @profile.user_id == current_user.id %>
<% if reviewed == false%>
<br>
No reviews yet! Request a review from a previous landlord.
<% end %>
<% end %>
