<!-- add error box again -->

<%= form_with(model: [@profile, @profile.reviews.build]) do |form| %>

  <p>
    <%= form.label :tenant %><br>
    <%= form.text_field :text %>
  </p>

    <p>
      <%= form.label :date %><br>
      <%= form.date_field :date %>
    </p>

    <p>
      <%= form.label :notice %><br>
      <%= form.check_box :notice  %>
    </p>

    <p>
      <%= form.label :rentLeft %><br>
      <%= form.check_box :rentLeft  %>
    </p>

    <p>
      <%= form.label :rentLeftAmount %><br>
      <%= form.number_field :rentLeftAmount %>
    </p>

    <p>
      <%= form.label :late %><br>
      <%= form.check_box :late  %>
    </p>

    <p>
      <%= form.label :lateThreeDayNum %><br>
      <%= form.number_field :lateThreeDayNum %>
    </p>

    <p>
      <%= form.label :latePaymentNum %><br>
      <%= form.number_field :latePaymentNum %>
    </p>

    <p>
      <%= form.label :nSF %><br>
      <%= form.check_box :nSF  %>
    </p>

    <p>
      <%= form.label :nsfNum %><br>
      <%= form.number_field :nsfNum %>
    </p>

    <p>
      <%= form.label :damages %><br>
      <%= form.check_box :damages  %>
    </p>

    <p>
      <%= form.label :damagesDescription %><br>
      <%= form.text_field :damagesDescription %>
    </p>

    <p>
      <%= form.label :complaintsFiled %><br>
      <%= form.check_box :complaintsFiled  %>
    </p>

    <p>
      <%= form.label :complaintDescription %><br>
      <%= form.text_field :complaintDescription %>
    </p>

    <p>
      <%= form.label :undocumentedHousemates %><br>
      <%= form.check_box :undocumentedHousemates  %>
    </p>

    <p>
      <%= form.label :coTenants %><br>
      <%= form.check_box :coTenants  %>
    </p>

    <p>
      <%= form.label :rentalStatus %><br>
      <%= form.check_box :rentalStatus  %>
    </p>

    <p>
      <%= form.label :evicted %><br>
      <%= form.check_box :evicted  %>
    </p>

    <p>
      <%= form.label :rentAgain %><br>
      <%= form.check_box :rentAgain  %>
    </p>

    <p>
      <%= form.label :depositRefund %><br>
      <%= form.check_box :depositRefund  %>
    </p>

    <p>
      <%= form.label :pets %><br>
      <%= form.check_box :pets  %>
    </p>

    <p>
      <%= form.label :petType %><br>
      <%= form.text_field :petType %>
    </p>

    <p>
      <%= form.label :rentAmount %><br>
      <%= form.number_field :rentAmount %>
    </p>

    <p>
      <%= form.label :lease %><br>
      <%= form.check_box :lease  %>
    </p>


    <p>
      <%= form.label :tenantNotes %><br>
      <%= form.text_field :tenantNotes %>
    </p>


    <p>
      <%= form.submit %>
    </p>
  <% end %>
