<%= form_with(model: [@profile, @profile.reviews.build]) do |form| %>
  <p>
    <%= form.label :Reviewer %><br>
    <%= current_user.firstName  %>
    <%= current_user.lastName %>
  </p>

  <p>
    <%= form.label :tenant %><br>
    <%= @profile.id %>
  </p>

  <p>
    <%= form.label :Date %><br>
    <%= Time.now.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <ol>
    <li>
      <%= form.label :Proper_notice_given? %><br>
      <%= form.label :notice, "Yes", :value => "Yes"  %>
     <%= form.radio_button :notice, true%>
     <%= form.label :notice, "No", :value => "No" %>
     <%= form.radio_button :notice, false %>
   </li>

    <li>
      <%= form.label :Is_tenant_liable_for_rent_or_any_unpaid_amount? %><br>
      <%= form.label :rentLeft, "Yes", :value => "Yes"  %>
      <%= form.radio_button :rentLeft, true%>
      <%= form.label :rentLeft, "No", :value => "No" %>
      <%= form.radio_button :rentLeft, false %>
    </li>

    <p>
      <%= form.label :Enter_amount_of_unpaid_rent %><br>
      <%= form.number_field :rentLeftAmount %>
    </p>

    <li>
      <%= form.label :Any_late_payments_or_3_day_notices? %><br>
      <%= form.label :late, "Yes", :value => "Yes"  %>
      <%= form.radio_button :late, true%>
      <%= form.label :late, "No", :value => "No" %>
      <%= form.radio_button :late, false %>
    </li>

    <p>
      <%= form.label :Enter_amount_of_3_day_notices %><br>
      <%= form.number_field :lateThreeDayNum %>
    </p>

    <p>
      <%= form.label :Enter_amount_of_late_payments_here %><br>
      <%= form.number_field :latePaymentNum %>
    </p>

    <li>
      <%= form.label :Any_NSF_checks? %><br>
      <%= form.label :nSF, "Yes", :value => "Yes"  %>
      <%= form.radio_button :late, true%>
      <%= form.label :nSF, "No", :value => "No" %>
      <%= form.radio_button :nSF, false %>
    </li>

    <p>
      <%= form.label :Enter_amount_of_NSF_checks %><br>
      <%= form.number_field :nsfNum %>
    </p>

    <li>
      <%= form.label :Any_documented_damages? %><br>
      <%= form.label :damages, "Yes", :value => "Yes"  %>
      <%= form.radio_button :damages, true%>
      <%= form.label :damages, "No", :value => "No" %>
      <%= form.radio_button :damages, false %>
    </li>

    <p>
      <%= form.label :Please_explain_or_enter_NA %><br>
      <%= form.text_field :damagesDescription %>
    </p>

    <li>
      <%= form.label :Any_documented_complaints? %><br>
      <%= form.label :complaintsFiled, "Yes", :value => "Yes"  %>
      <%= form.radio_button :complaintsFiled, true%>
      <%= form.label :complaintsFiled, "No", :value => "No" %>
      <%= form.radio_button :complaintsFiled, false %>
    </li>

    <p>
      <%= form.label :Please_explain_or_enter_NA %><br>
      <%= form.text_field :complaintDescription %>
    </p>

    <li>
      <%= form.label :Any_unauthorized_tenants_or_pets? %><br>
      <%= form.label :undocumentedHousemates, "Yes", :value => "Yes"  %>
      <%= form.radio_button :undocumentedHousemates, true%>
      <%= form.label :undocumentedHousemates, "No", :value => "No" %>
      <%= form.radio_button :undocumentedHousemates, false %>
    </li>

    <li>
      <%= form.label :Did_tenant_share_with_a_co_tenant? %><br>
      <%= form.label :coTenants, "Yes", :value => "Yes"  %>
      <%= form.radio_button :coTenants, true%>
      <%= form.label :coTenants, "No", :value => "No" %>
      <%= form.radio_button :coTenants, false %>
    </li>

    <li>
      <%= form.label :Were_they_on_a_written_rental_agreement? %><br>
      <%= form.label :rentalStatus, "Yes", :value => "Yes"  %>
      <%= form.radio_button :rentalStatus, true%>
      <%= form.label :rentalStatus, "No", :value => "No" %>
      <%= form.radio_button :rentalStatus, false %>
    </li>

    <li>
      <%= form.label :Has_tenant_ever_been_asked_to_vacate? %><br>
      <%= form.label :evicted, "Yes", :value => "Yes"  %>
      <%= form.radio_button :evicted, true%>
      <%= form.label :evicted, "No", :value => "No" %>
      <%= form.radio_button :evicted, false %>
    </li>

    <li>
      <%= form.label :Would_you_re_rent_to_them? %><br>
      <%= form.label :rentAgain, "Yes", :value => "Yes"  %>
      <%= form.radio_button :rentAgain, true%>
      <%= form.label :rentAgain, "No", :value => "No" %>
      <%= form.radio_button :rentAgain, false %>
    </li>

    <li>
      <%= form.label :Was_deposit_refunded? %><br>
      <%= form.label :depositRefund, "Yes", :value => "Yes"  %>
      <%= form.radio_button :depositRefund, true%>
      <%= form.label :depositRefund, "No", :value => "No" %>
      <%= form.radio_button :depositRefund, false %>
    </li>

    <li>
      <%= form.label :Do_they_have_a_pet? %><br>
      <%= form.label :pets, "Yes", :value => "Yes"  %>
      <%= form.radio_button :pets, true%>
      <%= form.label :pets, "No", :value => "No" %>
      <%= form.radio_button :pets, false %>
    </li>

    <p>
      <%= form.label :Enter_pet_type_or_types_or_enter_NA %><br>
      <%= form.text_field :petType %>
    </p>

    <li>
      <%= form.label :What_was_the_rent_amount? %><br>
      <%= form.number_field :rentAmount %>
    </li>

    <li>
      <%= form.label :Were_they_on_a_lease? %><br>
      <%= form.label :lease, "Yes", :value => "Yes"  %>
      <%= form.radio_button :lease, true%>
      <%= form.label :lease, "No", :value => "No" %>
      <%= form.radio_button :lease, false %>
    </li>


    <p>
      <%= form.label :Any_additional_notes_on_this_tenant? %><br>
      <%= form.text_area :tenantNotes %>
    </p>

    <!-- TODO missing move in and out dates -->

  </ol>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
