<!DOCTYPE html>
<html>
  <head>
    <title>Renter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                          'data-turbolinks-track': 'reload' %>

                                          <!--[if lt IE 9]>
                                            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
                                            </script>
                                          <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "renter", welcome_index_path, id: "logo" %>




        <nav>
          <ul class="nav navbar-nav navbar-right">

            <!-- Search bar -->
            <%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
              <%= submit_tag "Search", :name => nil %>
            <% end %>


            <li><%= link_to "About", welcome_index_path %></li>
            <!-- if not signed in-->
            <!-- <li><%= link_to "Log in", new_user_registration_path %></li> -->
            <!-- if signed in -->
            <!-- <% if user_signed_in? %><li><%= link_to "Profile", '#' %></li>
            <% else %><li><%= link_to "Log in", new_user_registration_path %></li><%end%> -->

            <% if user_signed_in? %>
              <%if current_user.profile == nil %>
                <li><%= link_to 'Create profile', new_profile_path%></li>
              <% else %>
                <li><%= link_to 'View your profile', current_user.profile%></li>
              <% end %>
              <li><%= link_to 'Log out', destroy_user_session_path, :method=> 'delete'%></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <%end%>
            <!-- <% if user_signed_in? %>
              <li><% link_to 'Users', '#' %></li>
            <%end%> -->
            <!-- don't require log in, show profile -->
            <!-- <li><%= link_to "Profile", '#'%> </li> -->

          </ul>
        </nav>
      </div>
    </header>
    <% if user_signed_in? %>
      <%= current_user.firstName %> <%= current_user.lastName %>
    <% end %>
    <div class="container">
    <!-- #keep or move up? -->
    <% if notice %> <p class="alert alert-info"><%= notice%> <%end%></p>
    <% if alert %><p class="alert alert-warning"><%= alert %><%end%></p>
    <p><%= link_to 'Users: ', users_index_path%><%=User.count%> registered and counting! </p>
    <%= yield %>
  </body>
</html>
